@import url('https://fonts.googleapis.com/css?family=Inter:700|Noto%20Sans%20NKo:400');


$themes: (
 light: (
   text: #09051d,
   background: #f1effc,
   primary: #5432dc,
   secondary: #e8ae92,
   accent: #e2538a,
 ),
 dark: (
   text: #e5e0fa,
   background: #050311,
   primary: #4523cd,
   secondary: #6d3417,
   accent: #aa1d53,
 ),
);


html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


/*h1, h2, h3, h4, h5 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 100%;
}


!* 16px *!

h1 {
  font-size: 3.366rem; !* 53.92px *!
}

h2 {
  font-size: 2.525rem; !* 40.32px *!
}

h3 {
  font-size: 1.894rem; !* 30.24px *!
}

h4 {
  font-size: 1.421rem; !* 22.72px *!
}

h5 {
  font-size: 1.066rem; !* 17.12px *!
}

small {
  font-size: 0.600rem; !* 9.6px *!
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 100%;
}

body{
/*  background-color: #f1effc;
  color: #09051d;*/
  background-color: map-get($themes, light, background);
  color: map-get($themes, light, text);

}

a{
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.testing{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .box{
    width: 200px;
    height: 200px;
    background-color: red;

  }

}